:global * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.app {
  text-size-adjust: none;
  font-family: helvetica, arial, sans-serif;

}

.hr {
  margin: 40px 0;
  height: 1px;
  border: 0;
  background: #ccc;
}

.sidebar {
    background-color: #011E2D;
    max-width: 300px;
}

.grid {
    display: block;

}


.grid__item {
    display: inline-block;
    vertical-align: top;
}
